<div class="row text-center p-3 text-white bg-success">
    <div class="col-12">
        <h2>PDF List</h2>
    </div>
</div>
<div class="row text-center mt-4">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <table class="table table-striped table-dark">
            <thead class="">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">File</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of pdfLists" (click)="viewPDF(list.id)">
                    <th scope="row">{{list.id}}</th>
                    <td>{{list.file}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
</div>